<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ainisi.queenmirror.queenmirrorcduan">

    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission
        android:name="android.permission.SET_DEBUG_APP"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 友盟分享权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_queen"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_queen"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.activity.SelectCityActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.home.activity.SearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.home.activity.EstheticsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.home.activity.FullActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.home.activity.PurchaseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.home.activity.SubmitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.home.activity.MessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.MineDiscountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.MineInvincibleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.MineQueenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.MineBeanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.PortraitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.UserNameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.UserpassActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.UserphoneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.InstallActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.ReplaceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.MyWeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.activity.MeDynamicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.HerDynamicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.home.activity.OrderMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.MineCollectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.MineFollowActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.MineMyFootActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.MineEvaluateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.MinePositionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.MineFriendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.activity.MineGiftActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.RechargeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.SeeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.MineRealnameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.MinePaymentsettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.MineMyWalletActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.MineSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.MineBeautyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.MineProblemActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.MineFeedbackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.MineAskproblemActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.MineMyServiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.MineAddcartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.MineBalanceActivity"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.MineRechargeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.MineWithdrawalsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.MineCommonProblemActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.MineDetailedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.home.activity.DetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.BeanstalkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.shop.activity.WorkRoomDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.shop.activity.ShopClassificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.home.activity.ShoppingCartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.home.activity.HomeFightaloneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.mine.activity.MineAuthenticationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.order.activity.OrderDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.home.activity.FightaloneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity android:name=".ui.user.LoginActivity" />
        <activity android:name=".ui.user.RegisterActivity" />
        <activity android:name=".ui.user.ForgetcipherActivity" />
        <activity android:name=".ui.order.activity.ScoreActivity" />
        <activity android:name=".ui.shop.activity.ShopStoreActivity" />
        <activity android:name=".ui.shop.activity.ProductActivity" />
        <activity android:name=".ui.home.activity.RecommendedActivity" />
        <activity android:name=".ui.master.activity.DynamicActivity" />
        <activity android:name=".ui.master.activity.WriteCommentActivity" />
        <activity android:name=".ui.HomePageActivity" />
        <activity android:name=".ui.order.activity.ArefundActivity" />
        <activity android:name=".ui.order.activity.ConfirmRefundActivity" />
        <activity android:name=".ui.order.activity.RefundReasonActivity" />

        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="4f44efb5b1cf66088b2bba3153273dbb">
            //开发者申请的key</meta-data>

        <activity android:name=".ui.mine.activity.MineHomepageActivity" />
        <activity android:name=".ui.master.activity.MasterActivity" />
        <activity android:name=".ui.home.activity.HomeAdvertisingActivity" />
        <activity android:name=".ui.home.activity.GoodsActivity" />
        <activity android:name=".ui.home.activity.ShopsActivity" />
        <activity
            android:name=".ui.home.activity.MondelActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.user.LoginThirdActivity" />
        <activity android:name=".ui.user.GuanLianActivity"></activity>
    </application>

</manifest>